<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tezway</title>
    <link rel="icon" href="logo.png" type="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tezway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/documentation">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/paymentLinks">Collect by Email</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-success text-white">
      <div class="container text-center">
        <h1>Welcome to Tezway</h1>
        <p class="lead">Accepting payments using Tezos Crypto Currency!</p>
      </div>
    </header>
    <section id="about">
      <div class="container">
        <div class="row">
          
        
          <div class="col-lg-8 mx-auto">
            <ol>
              <li>Once you have logged in provide us the lander url where you want payer to get redirected once transaction is complete.</li>
              <li>Now for making any transaction you need to generate a transaction Id first. Send username(email) and apikey as payloads to following API.
                <strong>http://ec2-13-126-85-200.ap-south-1.compute.amazonaws.com:5003/requestTransactionId [POST] (username,apikey)</strong></br>
                On a valid request this will return -
                <pre><code>
{
  "status": "success",
  "transactionsId": "68050d579ca9107b3c40160394e104b1",
  "code": "200"
}
                </code></pre>
                On a bad request this will return - 
                <pre><code>
{
    "status": "failure",
    "transactionsId": "",
    "code": "401"
}             </code></pre>
              </li>
              <li>
                Once you get transactionId you need to let us know how much amount you need to collect in INR and payer's email address. 
                </br> 
                <strong>http://ec2-13-126-85-200.ap-south-1.compute.amazonaws.com:5003/initiateTransaction [POST] (transactionId,apikey,amount,payeremail)</strong></br>
                On a successfull request this would return.
                <pre><code>
{
    "status": "success"
}
                </code></pre>
                On a bad request this would return.
                <pre><code>
{
    "status": "failed"
}
                </code></pre>
              </li>
              <li>
                Once above API returns 'success' status redirect the payer to -<br>
                <strong>http://ec2-13-126-85-200.ap-south-1.compute.amazonaws.com:5003/pay?transactionId={TRANSACTION_ID_GENERATED_AT_STEP_2}></strong>
              </li>
              <li>
                After the transaction is complete we redirect the user to your page with transaction Id as url paramter.<br>
                <strong>http://example.com/page?transactionId={Transaction_Id}?status={success/failure}</strong>
                <br>
                We recommend you to request details of a particular transactionId so that you can confirm transaction was actually completed.
                <br>
                <strong>http://ec2-13-126-85-200.ap-south-1.compute.amazonaws.com:5003/checkTransactionStatus [POST] (apikey,transactionId)</strong><br>
                status - pending / initiated / Complete <br>
                paymentStatus - Success / Failure / Pending <br>
                On a successfull request - <br>
                <pre><code>
{
    "status": "Complete",
    "paymentStatus": "Success"
}
                </code></pre>
                On a bad request - <br>
                <pre><code>
{
    "status": "NA",
    "paymentStatus": "NA"
}
                </code></pre>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
       <p class="m-0 text-center text-white"></p>
        <p class="m-0 text-center text-white"></p>
        <p class="m-0 text-center text-white"> </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>