<!DOCTYPE html>
<html>
<head>
	<title>Pay on Tezsure Payment Gatway</title>
</head>
<body>
<form method="POST" action="/pay">
	<input type="text" name="privateKey" placeholder="privateKey">
	<input type="text" name="publicKey" placeholder="publicKey">
	<input type="text" name="publicKeyHash" placeholder="publicKeyHash">
	<input type="submit" name="btnsubmit">
</form>
</body>
</html>